arch_dot_files
.bash_logout
.bash_profile
.cache
Desktop
Documents
Downloads
.gitconfig
.git-credentials
Music
.oh-my-zsh
OpenCorsairLink
Pictures
Public
snap
Templates
Videos
.viminfo
.zsh_history
.local/lib
.local/bin
.config/nvim/vim-plug
.config/coc
.npm
